* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body, input, button, select, textarea {

    font-family: 'Poppins', sans-serif;
}

body {
    
    background: #e5e5e5;
    
}

body::before {
    content: '';
    width: 100%;
    height: 368px;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #121214;
    
}


h1 {

    position: fixed;

}




form {
    margin-top: 38px;
    background: #fafafc;
    border-radius: 8px;
    min-height: 300px;
    padding: 64px;

}



.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label {
font-size: 14px;
line-height: 24px;

color: #4e4958;

margin-bottom: 8px;


}

.input-wrapper label span {
    margin-left: 12px;

    font-size: 12px;
    line-height: 20px;

    color: #c1bccc;
}

.input-wrapper input {

    background: #fafafc;

    border: 1px solid #e6e6f0;
    box-sizing: border-box;
    border-radius: 8px;

    height: 56px;

    padding: 0 24px;

    font-size: 16px;
    line-height: 26px;

    color: #c1bccc;




}